*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Roboto;
    font-weight: 700;
    
}
.wrapper{
    display: flex;
    padding: 2rem;
}
.left{
    width: 30%;
}
.left img{
    width: 100%;
}
.right{
    display: flex;
    width: 70%;
    padding-left: 2rem;
}
.r1,.r2{
    width: 50%;
}
.country{
    display:flex ;
    margin: 0 0.5rem 2rem 0.5rem;
    width: 100%;
    font-size: 20px;
}
.country h3{
    background-color: grey;
    color: rgb(227, 226, 226);
    width: 10%;
    padding:1rem 0;
    text-align: center;
}
.country p{
    background-color: rgb(227, 226, 226);
    width: 80%;
    padding: 20px;
}
.section2{
    display: flex;
    padding: 2rem;

}
.true,.false{
    width: 48%;
    text-align: center;
}
.flagl,.flagr{
    border-top: 3px solid skyblue;
    border-radius: 20px ;
    width: 98%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.option{
    width: 29%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: pink;
    margin: 0.5rem;
}
.option img{
    width: 60%;
    margin: 1rem;
}
.incorrect p{
    margin: 1rem 0;
    color:grey;
}
.correct p{
    margin: 1rem 0;
    color: grey;
}
@media all and ( max-width:1100px ) {
    .left{
        width: 25%;
    }
    .country p{
        padding: 15px 0 15px 2px    ;
    }

}
@media all and ( max-width:900px ) {
    .wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .country{
        margin-top: 0.5rem;
    }
    .left,.right{
        width: 100%;
    }
    .left img{
        width: 50%;
    }
    .left{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
    }
}
@media all and ( max-width:650px ){
    .right{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .country{
        margin-bottom: 0.5rem;
        width: 100%;
    }
    .r1,.r2{
        width: 100%;
    }
}
@media all and ( max-width:500px ){
    .section2{
        flex-direction: column;
    }
    .true,.false{
        width: 100%;
    }
    .country{
        margin-bottom: 0.5rem;
        width: 100%;
    }
    .country p{
        padding: 5px 0 5px 2px;
    }
    .country h3{
        padding:0.5rem 0;
    }
}
@media all and ( max-width:450px ){
    .country{
        margin-bottom: 0.5rem;
        width: 100%;
    }
    .country p{
        padding: 5px 0 5px 2px;
        font-size: 15px;
    }
    .country h3{
        padding:0.5rem 0;
        font-size: 15px;
    }
}

